body {
  background: rgba(74, 74, 74, 1);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 1;
  z-index: -1; 
}

header, main, footer {
	margin: 0 auto;
	max-width: 700px;
	padding: 20px;
  color: #cacaca;
  font-family: Inter;
  font-size: 16px;
}

.contactmain {
  margin-top: -120px;
}

.headerbar {
  background: rgba(74, 74, 74, 1);
  position: fixed;
  top: 0;
  left: 0;
  height: 12.5%;
  width: 100vw;
  z-index: 3;
  min-height: 50px;
}

.logo {
  width: 5vw;
  height: 5vw;
  min-width: 50px;
  min-height: 50px;
  background: rgba(0, 128, 169, 1);
  opacity: 1;
  position: fixed;
  border-radius: 50%;
  top: 1%;
  left: 5%;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
}

hr {
  position: fixed;
  top: 11%;
  left: 4%;
  width: 92%;
  z-index: 3;
  display: block;
}

.navbar {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 3;
}

.navbar ul li a.active {
  color: rgba(0, 128, 169, 1);
  text-decoration: underline;
}

.navbar ul {
  list-style: none;
  margin-top: 3%;
  padding: 0;
  display: flex;
}

.navbar li {
  margin-right: 30px;
}

.navbar li:last-child {
  margin-right: 30px;
}

.navbar a {
  display: block;
  color: rgba(205, 204, 204, 1);
  font-family: Inter;
  font-weight: Bold;
  font-size: 20px;
  padding: 10px;
}

.about {
  position: relative;
}

.experience {
  position: absolute;
  left: 108px;
}

.contact {
  position: absolute;
  left: 260px;
}

.navbar ul li a:hover {
  color: rgb(137, 137, 137);
}

.logo:hover {
  color: rgb(137, 137, 137);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Home page specific */
.gradient {
  width: 100%;
  height: 75%;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: fixed;
  top: 0px;
  left: 0px;
  border: 1px solid linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}

.bottomborder {
  height: 25%;
  width: 100%;
  background-color: black;
  position: fixed;
  left: 0;
  bottom: 0;
}

.home::before {
  content: "";
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

.dh {
  color: rgba(0, 128, 168, 0.5);
  position: fixed;
  top: -10%;
  left: 62px;
  font-family: Cabin;
  font-weight: Regular;
  font-size: 600px;
  text-align: left;
  z-index: -1;
}

.name {
  color: rgba(213, 213, 213, 1);
  position: absolute;
  top: 65%;
  left: 10%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 60px;
  z-index: 2;
}

.description {
  width: 825px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 75%;
  left: 10%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
  z-index: 2;
}

.experiencebutton {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: large;
  top: 95%;
  left: 10%;
  width: 250px;
  height: 60px;
  background: rgba(0, 128, 169, 1);
  border-radius: 20px;
  z-index: 2;
  margin-bottom: 10%;
}

button {
  border: none;
}

button:hover {
  background-color: rgba(0, 127, 169, 0.689);
  color: #888;
}

/* About page specific */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.mainabout {
  width: 80%;
  height: 80%;
  position: relative;
}

.textbox1 {
  width: 55%;
  height: 35%;
  background: rgba(255, 255, 255, 0.1599999964237213);
  opacity: 1;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 3%;
  margin-right: 3%;
  border: 1px solid rgba(0, 128, 169, 1);
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  padding-top: 30px;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: Regular;
  text-align: left;
}

.textbox2 {
  width: 55%;
  height: 35%;
  background: rgba(255, 255, 255, 0.1599999964237213);
  opacity: 1;
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 3%;
  margin-bottom: 3%;
  border: 1px solid rgba(0, 128, 169, 1);
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: Regular;
  text-align: left;
}

.picture1 {
  position: absolute;
  top: 0;
  left: 0;
}

.picture2 {
  position: absolute;
  bottom: 0;
  right: 0;
}

.frame {
  width: 380px;
  height: 260px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
}

.aboutimage1 {
  width: 86%;
  height: 83%;
  border: solid 10px rgba(0, 128, 169, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/david1.png");
  background-position: center center;
  background-size: cover;
}

.aboutimage2 {
  width: 86%;
  height: 83%;
  border: solid 10px rgba(0, 128, 169, 1);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/david2.png");
  background-position: center center;
  background-size: cover;
}

/* Experience page specific */
.clickforexp {
  width: 25%;
  color: rgba(205, 204, 204, 1);
  position: absolute;
  margin-top: 20%;
  margin-left: 60%;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
}

.gradchain {
  position: absolute;
  top: -450px;
  left: -30px;
}

.explogo {
  max-width: 15%;
  max-height: 80%;
  opacity: 1;
  margin-left: 5%;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #555;
}

.exptitle {
  position: relative;
  top: -50px;
  left: 20px;
  font-size: 20px;
  font-family: Inter;
  font-weight: Regular;
  text-align: left;
}

.expinfocontainer {
  margin-left: 10%;
}

.expgrid {
  width: 40%;
  height: 75%;
  position: fixed;
  top: 18%;
  left: 8%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 5%; 
}

.buttoncontainer {
  background: rgba(205, 204, 204, 1);
  color: #444444;
  font-family: Inter;
  font-size: 22px;
  opacity: 1;
  border-radius: 20px;
  z-index: 2;
  border: none;
  display: flex;
  align-items: center;
}

.expbutton {
  width: 100%;
  height: 100%;
  background: transparent;
  color: #444444;
  font-family: Inter;
  font-size: 22px;
  opacity: 1;
  border-radius: 20px;
  z-index: 1;
  border: none;
  display: flex;
  justify-content: center;
  text-align: left;
}

.expinfo {
  position: absolute;
  right: 0;
  width: 40%;
  margin: 5%;
  background: rgba(205, 204, 204, 1);
  font-size: 20px;
  font-family: Inter;
  font-weight: Regular;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 30px;
  border-radius: 16px;
  text-align: left;
  z-index: 2;
  display:none;
}

.expinfo p {
  padding-left: 20px;
}

.expinfo h2 {
  margin-top: -20px;
  padding-left: 20px;
}

.expimage {
  float: left;
  object-fit:cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #555;
  margin: 25px 5px;
  background-color: white;
}

.ipfsimage {
  float:left;
  object-fit:cover;
  width: 90%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #555;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: -10px;
}

.linkbutton {
  color: rgb(255, 255, 255);
  float:left;
  font-size: large;
  width: 250px;
  height: 60px;
  background: rgba(0, 128, 169, 1);
  border-radius: 20px;
  z-index: 2;
  margin-bottom: 20px;
  margin-left: 20px;
}

.buttoncontainer:hover {
  background-color: #a4a4a4;
  color: rgb(224, 224, 224);
}

@media (max-width: 600px) {
  .explogo {
    display: none;
  }
}

/* Contact page specific */
.talk {
  text-align: center;
  font-size: 150px;
  font-family: Inter;
  font-weight: Regular;
  color: rgba(0, 128, 169, 1);
  text-shadow:
  -1px -1px 0 #cacaca,
  1px -1px 0 #cacaca,
  -1px 1px 0 #cacaca,
  1px 1px 0 #cacaca; 
  margin-top: 7%;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: rgba(0, 128, 169, 1);
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  font-family: Inter;
  font-size: 16px;
}

input[type="submit"]:hover {
	background-color: rgba(0, 127, 169, 0.689);
  color: #888;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
