.home::before {
  content: "";
  background-image: url("../images/background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: -1;
}

body {
  background: rgba(74, 74, 74, 1);
  top: 0px;
  left: 0px;
}

.headerbar {
  
  background: rgba(74, 74, 74, 1);
  position: fixed;
  top: 0;
  height: 74px;
  width: 100%;
  z-index: 3;
}

.expgrid {
  position: fixed;
  top: 110px;
  left: 10%;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 20px; 
}

.explogogrid {
  position: fixed;
  top: 110px;
  left: 90px;
  display: grid; 
  grid-template-columns: 1fr; 
  grid-template-rows: 1fr 1fr 1fr 1fr; 
  gap: 36px; 
}

.DH {
  color: rgba(0, 128, 168, 0.5);
  position: absolute;
  top: -20px;
  left: 62px;
  font-family: Cabin;
  font-weight: Regular;
  font-size: 600px;
  text-align: left;
  z-index: -1;
}

.logo {
  width: 50px;
  height: 50px;
  background: rgba(0, 128, 169, 1);
  opacity: 1;
  position: fixed;
  border-radius: 50%;
  top: 10px;
  left: 48px;
  z-index: 3;
}

.logoText {
  text-align: center;
  color: rgba(255, 255, 255, 1);
  font-family: Inter;
  font-weight: Bold;
  font-size: 25px;
  position: absolute;
  top: 19%;
  left: 14%;
}

hr {
  position: fixed;
  top: 65px;
  right: 30px;
  width: 95%;
  z-index: 3;
}

.navBar {
  color: rgba(205, 204, 204, 1);
  font-family: Inter;
  font-weight: Bold;
  font-size: 18px;
  position: fixed;
  top: 26px;
  left: 70%;
  z-index: 3;
}

.about {
  position: relative;
}

.experience {
  position: absolute;
  left: 108px;
}

.contact {
  position: absolute;
  left: 260px;
}

.about:hover,
.contact:hover,
.experience:hover {
  color: rgb(137, 137, 137);
}

a {
  color: inherit;
  text-decoration: none;
}

/* Home page specific */
.gradient {
  width: 100%;
  height: 500px;
  background: linear-gradient(to top, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  position: absolute;
  top: 0px;
  left: 0px;
  border: 1px solid linear-gradient(rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
  z-index: 1;
}

.bottomBorder {
  position: absolute;
  top: 500px;
  left: 0px;
  height: 209px;
  width: 100%;
  background-color: black;
}

.name {
  color: rgba(213, 213, 213, 1);
  position: absolute;
  top: 400px;
  left: 120px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 60px;
  z-index: 2;
}

.description {
  width: 825px;
  color: rgba(255, 255, 255, 1);
  position: absolute;
  top: 470px;
  left: 124px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: left;
  z-index: 2;
}

button {
  border: none;
}

button:hover {
  background-color: rgba(0, 127, 169, 0.689);
  color: #888;
}

/* About page specific */
.textbox1 {
  width: 560px;
  height: 170px;
  background: rgba(255, 255, 255, 0.1599999964237213);
  opacity: 1;
  position: absolute;
  top: 130px;
  left: 515px;
  border: 1px solid rgba(0, 128, 169, 1);
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  padding-top: 30px;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: Regular;
  text-align: left;
}

.textbox2 {
  width: 560px;
  height: 170px;
  background: rgba(255, 255, 255, 0.1599999964237213);
  opacity: 1;
  position: absolute;
  top: 380px;
  left: 200px;
  border: 1px solid rgba(0, 128, 169, 1);
  overflow: hidden;
  padding: 30px;
  box-sizing: border-box;
  color: white;
  font-size: 18px;
  font-family: Inter;
  font-weight: Regular;
  text-align: left;
}

.picture1 {
  position: absolute;
  top: 110px;
  left: 185px;
}

.picture2 {
  position: absolute;
  top: 333px;
  left: 800px;
}

.frame1 {
  width: 297.5px;
  height: 233.75px;
  background: rgba(217, 217, 217, 1);
  opacity: 1;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.frame2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 276.25px;
  height: 212.5px;
  background: rgba(0, 128, 169, 1);
}

.aboutImage1 {
  width: 255px;
  height: 191.25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/david1.png");
  background-position: center center;
  background-size: cover;
}

.aboutImage2 {
  width: 255px;
  height: 191.25px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: url("../images/david2.png");
  background-position: center center;
  background-size: cover;
}

/* Experience page specific */
.clickForExp {
  width: 325px;
  color: rgba(205, 204, 204, 1);
  position: absolute;
  top: 307px;
  left: 750px;
  font-family: Inter;
  font-weight: Regular;
  font-size: 20px;
  text-align: center;
}

.experiencebutton {
  color: rgb(255, 255, 255);
  position: absolute;
  font-size: large;
  top: 575px;
  left: 120px;
  width: 250px;
  height: 60px;
  background: rgba(0, 128, 169, 1);
  border-radius: 20px;
  z-index: 2;
}

.expbutton {
  width: 475px;
  height: 100px;
  background: rgba(205, 204, 204, 1);
  color: #444444;
  font-family: Inter;
  font-size: 22px;
  opacity: 1;
  border-radius: 20px;
  z-index: 2;
  border: none;
}

.gradchain {
  position: absolute;
  top: -450px;
  left: -30px;
}

.expLogo {
  width: 80px;
  height: 80px;
  opacity: 1;
  position: relative;
  top: 8px;
  left: 10px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  border: 2px solid #555;
}

.exptitle {
  position: relative;
  top: -50px;
  left: 20px;
  font-size: 20px;
  font-family: Inter;
  font-weight: Regular;
  text-align: left;
}

.expinfo {
  position: absolute;
  top: 110px;
  left: 600px;
  width: 550px;
  background: rgba(205, 204, 204, 1);
  font-size: 20px;
  font-family: Inter;
  font-weight: Regular;
  padding-top: 10px;
  padding-left: 17px;
  padding-right: 30px;
  border-radius: 16px;
  text-align: left;
  z-index: 2;
  display:none;
}

.expinfo p {
  padding-left: 20px;
}

.expinfo h2 {
  margin-top: -20px;
  padding-left: 20px;
}

.expimage {
  float: left;
  object-fit:cover;
  width: 100%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #555;
  margin: 25px 5px;
  background-color: white;
}

.ipfsimage {
  float:left;
  object-fit:cover;
  width: 90%;
  height: auto;
  border-radius: 10px;
  border: 2px solid #555;
  margin-left: 30px;
  margin-bottom: 15px;
  margin-top: -10px;
}

.linkbutton {
  color: rgb(255, 255, 255);
  float:left;
  font-size: large;
  width: 250px;
  height: 60px;
  background: rgba(0, 128, 169, 1);
  border-radius: 20px;
  z-index: 2;
  margin-bottom: 20px;
  margin-left: 20px;
}

.expbutton:hover {
  background-color: #a4a4a4;
  color: rgb(224, 224, 224);
}

/* Contact page specific */
.talk {
  text-align: center;
  font-size: 150px;
  font-family: Inter;
  font-weight: Regular;
  color: rgba(0, 128, 169, 1);
  text-shadow:
  -1px -1px 0 #cacaca,
  1px -1px 0 #cacaca,
  -1px 1px 0 #cacaca,
  1px 1px 0 #cacaca; 
  margin-top: 100px;
}

header, main, footer {
	margin: 0 auto;
	max-width: 700px;
	padding: 20px;
  color: #cacaca;
  font-family: Inter;
  font-size: 16px;
}

main {
  margin-top: -120px;
}

label {
	display: block;
	margin-bottom: 5px;
}

input[type="text"], input[type="email"], textarea {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
	border: 1px solid #ccc;
	border-radius: 5px;
}

input[type="submit"] {
	background-color: rgba(0, 128, 169, 1);
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	cursor: pointer;
  font-family: Inter;
  font-size: 16px;
}

input[type="submit"]:hover {
	background-color: rgba(0, 127, 169, 0.689);
  color: #888;
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
